/*Results page*/
.guideName{
    margin-left: 3px;
    width: 125px;
}
.price-cls{
	color: #f0b740;
	font-size: 26px;
	width: 21%;
	margin-left: 60px;
}
.location-cls{
	margin-left: 17px;
	font-size: 15px;
}
.marker-cls{
	margin-right: 5px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: ltr;
  margin-left: 15px;
  margin-top: 7px;
  color: #f0b740;
}
.btn-cls{
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  color: white;
  background: #F05F40;
  border-color: #F05F40;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
/*End*/