{% extends "layout.html" %}
{% block body %}
  <!-- <script type="text/javascript">
  	$.get('/eventsearch/{"user_email":"Sawayn.M@gmail.com", "location":"New Lincoln", "start_time":"2016-11-14  8:00", "end_time":"2016-11-14 13:00"}', function (data) {
  		console.write(data)
  	});
  </script> -->
  <script type="text/javascript">
    $.get('/booking/{"event_id":"6", "user_email":"Sawayn.M@gmail.com"}', function (data) {
      console.write(data)
    });
  </script>
  <ul class=entries>
  {% for entry in entries %}
    <li>{{ entry.id }}{{ entry.firstname }}</li>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}